name: "snapcast"
description: "Snapcast Media Player"
version: "0.45"
# FIXME: This slug is outdated given I don't consider this a "proxy" anymore,
#        but it's kinda baked into the HA config and other places by now
slug: "snapcastproxy"
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
audio: true
hassio_api: true
homeassistant_api: true
# hassio_role: manager  # Only needed to instruct HA to reload the audio config
startup: services
boot: auto
map:
  - share:rw
  - media:rw
ingress: true
ingress_port: 1780
ingress_stream: true
panel_icon: "mdi:speaker-wireless"
panel_title: "Snapweb"
panel_admin: false
ports:
  1704/tcp: 1704
  1705/tcp: 1705
  1780/tcp: 1780
  6600/tcp: 6600
  6601/tcp: 6601
ports_description:
  1704/tcp: "Snapserver stream endpoint"
  1705/tcp: "Snapserver control endpoint"
  1780/tcp: "Snapweb json-RPC endpoint"
schema:
  stream_sources:
    - str
  stream_sampleformat: str
  stream_codec: str
  stream_chunk_ms: int
  stream_buffer: int
  stream_send_to_muted: bool
  http_enabled: bool
  tcp_enabled: bool
  logging_filter: str
  server_threads: int
  server_datadir: str

  media_playlists_dir: str
options:
  stream_sources:
    - pipe:///run/audio/snapfifo?sampleformat=48000:16:2&name=Pulseaudio
  stream_sampleformat: "48000:16:2"
  stream_codec: "flac"
  stream_chunk_ms: 20
  stream_buffer: 1000
  stream_send_to_muted: true
  http_enabled: true
  tcp_enabled: true
  logging_filter: "*:info"
  server_threads: -1
  server_datadir: "/data/"

  media_playlists_dir: "Playlists/"
